## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [42]:
import pandas as pd
import numpy as np

In [43]:
countries = ["Taiwan", "Japan", "Korea", "United Kingdom", "USA"]

people = np.random.randint(3000000, 700000000, 5)


data = {'國家': countries,
        '人口': people}


data = pd.DataFrame(data)

data

               國家         人口
0          Taiwan  539323619
1           Japan  280621877
2           Korea  613292869
3  United Kingdom  589891610
4             USA  647528208

In [45]:
data = data.sort_values("人口")
data

               國家         人口
1           Japan  280621877
0          Taiwan  539323619
3  United Kingdom  589891610
2           Korea  613292869
4             USA  647528208

In [46]:
data.tail(1)

    國家         人口
4  USA  647528208